<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
    <h1>Tareas</h1>
    <!--Ejemplo de Agregar Registros-->
    <!--<form action="/agregar-tarea" method="post">
        <p>
            <label for="descripcion">Nueva tarea:</label>
            <input type="text" name="descripcion">
            <button type="submit">Agregar</button>
        </p>
    </form>

    <hr>

    <ul>
        <% for (let i = 0; i < tareas.length; i++) { %>
            <li><%= tareas[i].descripcion %></li>
        <% } %>
    </ul>-->

    <!--Ejemplo de editar Registro-->
    <form action="/agregar-tarea" method="post">
        <p>
            <label for="descripcion">Nueva tarea:</label>
            <input type="text" name="descripcion">
            <button type="submit">Agregar</button>
        </p>
    </form>

    <hr>

    <ul>
        <% for (let i = 0; i < tareas.length; i++) { %>
            <li><a href="/actualizar-formulario?id=<%=tareas[i].id%>"><%= tareas[i].descripcion %></a></li>
        <% } %>
    </ul>-

</body>
</html>