<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <h4><%=error%></h4>

    <form action="/autenticar" method="post">
      <p>
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" />
      </p>
      <p>
        <label for="contrasena">Contraseña</label>
        <input type="password" name="contrasena" />
      </p>
      <p>
        <button type="submit">Iniciar Sesión</button>
      </p>
    </form>
  </body>
</html>
